<main>

  <div class="bg">
    <div class="container">
      <div class="row">
        <%= simple_form_for [:admin, @kit, @template], :html => {:class => 'inline-form'} do |f|%>
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="form-group">
              <div class="col-xs-2">
                <%= f.label "Tilte" %>
              </div>
              <div class="col-xs-10">
                <%= f.input :title, placeholder: "Enter title", input_html: { class: 'form-control' }, label: false %>
                <%= f.input :kit_id, :as => :hidden, label: false, :input_html => { :value => "#{@kit.id}", :class => "hidden"} %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="form-group">
              <div class="col-xs-6">
                <%= f.label "Template size" %>
              </div>
              <div class="col-xs-6">
                <%= f.input :size, collection: ["1x1", "2x2", "3x3", "4x4", "5x5"], input_html: { class: 'form-control' }, label: false %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="form-group">
              <div class="col-xs-3">
                <%= f.label "Cover image" %>
              </div>
              <div class="col-xs-5">
                <%= f.file_field :cover_image, :multipart => true, type: "file", "data-buttonName" => "btn-primary file-url", "data-buttonText" => "UPLOAD IMAGE", "data-icon" => "false", "data-placeholder" => "Your image", class: "form-control filestyle" %>
              </div>

            </div>
          </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="front-form"></div>
  <div class="modal fade" id="back-form"></div>
  <div class="container text-center">
    <div class="row">

      <div id="fronts">
        <%= render "front" %>
      </div>

      <div id="backs">
        <%= render "back" %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="sample-form"></div>
  <div class="container container__m-bb">
    <div class="row row_left">
      <h3>Front Samples</h3>
      <div id="samples">
        <%= render "sample" %>
      </div>
      <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
        <div class="col-xs-12 front_mul_par_pd">
          <%= link_to new_admin_kit_template_sample_path(@kit, @template), remote: true do %>
            <div class="front_mul_edit_b">
              <i class="fa fa-plus adm_kit_plus admin_ui_plus_pos" aria-hidden="true"></i>
            </div>
          <% end %>
          <%= link_to "Add new sample", new_admin_kit_template_sample_path(@kit, @template), remote: true, id: "btn__orange", class: "btn main__btn"%>
        </div>
      </div>
      <div class="pagin">
        <%= paginate @samples, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination" %>
      </div>
  </div>

  <div class="modal fade" id="back-sample-form"></div>
  <div class="container container__m-bb">
    <div class="row row_left">
      <h3>Back Samples</h3>
      <div id="back-samples">
        <%= render "back_sample" %>
      </div>
      <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
        <div class="col-xs-12 front_mul_par_pd">
          <%= link_to new_admin_kit_template_back_sample_path(@kit, @template), remote: true do %>
            <div class="front_mul_edit_b">
              <i class="fa fa-plus adm_kit_plus admin_ui_plus_pos" aria-hidden="true"></i>
            </div>
          <% end %>
          <%= link_to "Add new sample", new_admin_kit_template_back_sample_path(@kit, @template), remote: true, id: "btn__orange", class: "btn main__btn"%>
        </div>
      </div>
      <div class="pagin">
        <%= paginate @back_samples, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination" %>
      </div>
      <div class="text-center margin_t_lg">
        <%= link_to "Back", admin_kit_templates_path(@kit), class: "main__btn btn main__btn_wa", id: "btn__orange", type: "button" %>
        <%= f.button :submit, 'Save template', class: "main__btn btn main__btn_wa", id: "btn__orange", form: "edit_template_#{@template.id}" %>
      </div>
    </div>
    <% end %>
  </div>


</main>

<% content_for :javascript do %>
  <script type='test/javascript'>
    $(document).ready(function(){
      $(":file").filestyle({buttonText: "Upload image"}, {icon: false});
    });
  </script>
<% end %>