<main>

  <hr class="hr_bot">
  <h2 class="text-center">Please select template to edit and print</h2>
  <hr class="text-center heading__hr">

  <div class="container">
    <div class="row text-center">

      <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="template__grid">
          <a href="#" class="for__rotate">
            <div class="main__blok_for_img2 img-responsive">
              <%= link_to new_admin_template_path, class: "for__rotate" do %>
                <div class="main__blok_for_img3 img__plus_ad img-responsive">
                </div>
              <% end %>
            </div>
          </a>
          <hr class="pull-left template__hr_t">
          <i class="fa fa-plus adm__plus_show"></i>
          <h4 class="pull-left template__head template__head_adm1">Add template.</h4>
          <hr class="template__hr pull-left">
        </div>
      </div>

      <% @templates.each do |template|%>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="template__grid">
              <div class="main__blok_for_img2 img-responsive">
                <a href="#" class="for__rotate">
                  <div class="main__blok_for_img3 img-responsive">
                    <%= image_tag "#{template.cover_image}", style: "height: 287px; width: 388px;" %>
                    <span class="fa-stack fa-3x main__follow-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-share fa-stack-1x fa-inverse"></i>
                    </span>
                  </div>
                </a>
              </div>
            <hr class="pull-left template__hr_t">
            <br>
            <h4 class="pull-left template__head_adm2"><%= template.title %></h4>
            <%= link_to "Edit", edit_admin_template_path(template[:slug]), class: "main__btn_bg0 main__btn_inf main__btn pull-left btn template__btn_adm", type: "button", id: "btn__orange" %>
            <%= link_to "Delete", admin_template_path(template), method: :delete, data: { confirm: 'Are you sure you want to delete this item?' }, type: "button", class: "main__btn_inf main__btn pull-left btn template__btn_adm", id: "btn__orange" %>
            <hr class="template__hr hidden-xs hidden-sm pull-left">
          </div>
        </div>
      <% end %>
    </div>
    <div class="pagin">
      <%= paginate @templates, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination" %>
    </div>
</main>
