<main>

  <div class="container text-center">
    <div class="row">
      <hr class="hr_bot">

      <div class="col-xs-12 col-sm-6 template_rsvp_onl hidden-xs">
        <div class="modal3__bottom_inset">
          <div class="tabs">
            <ul class="nav nav-tabs nav-tabs_modal">
              <li class="active">
                <a href="#tab-1" class="tab_first tabs_rsvp" data-toggle="tab">Front</a>
              </li>
              <li>
                <a href="#tab-2" class="tabs_rsvp" data-toggle="tab">Back</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab-1">
                <div class="modal3__block">
                  <div class="modal3__block-in">
                    <% if @last_front.present? %>
                    <div id="inline1" contenteditable="true">
                      <%= embedded_svg "#{@last_front.image}", class: "front-personalize-svg" %>
                    </div>
                    <% else %>
                      <%= image_tag "default.png", class: "front-personalize-svg" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-2">
                <div class="modal3__block">
                  <div class="modal3__block-in">
                    <% if @last_front.present? %>
                      <div id="inline2" contenteditable="true" creditor-toolbar="mini">
                        <%= embedded_svg "#{@last_back.image}", class: "front-personalize-svg" %>
                      </div>
                    <% else %>
                      <%= image_tag "default.png", class: "front-personalize-svg" %>
                    <% end %>
                    <div id="inline1" contenteditable="true" style="margin-top:-380px; height:350px;">
                    </div>
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 img-responsive visible-xs">
        <div class="modal3__bottom_inset">
          <div class="tabs">
            <ul class="nav nav-tabs nav-tabs_modal">
              <li class="active">
                <a href="#tab-3" class="tab-4_xs tabs_rsvp" data-toggle="tab">Front</a>
              </li>
              <li>
                <a href="#tab-4" class="tab-4_xs tabs_rsvp" data-toggle="tab">Back</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="tab-3">
                <div class="modal3__block">
                  <div class="modal3__block-in">
                    <p>tut text 1 or img 1 on bg</p>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-4">
                <div class="modal3__block">
                  <div class="modal3__block-in">
                    <p>tut text 2 or img 2 on bg</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <h3 id="strong" class="text-left">Format text</h3>
        <div id="top2">

        </div>

          <div class="line__format text-left">
            <button id="btn__orange" type="button" class="main__btn_wa main__btn_bg0 main__btn btn btn_last_15">Review & Download</button>
            <button id="btn__orange" type="button" class="main__btn_wa main__btn btn btn_last_15">Save for later</button>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <h3 class="text-left">Front Samples</h3>
          <div class="samples">
            <% if @samples.present? %>
              <% @samples.each do |sample| %>
                <div class="sample-item">
                  <%= link_to asset_path("#{sample.image.url}"), data:{toggle: "lightbox", gallery: "multimages"} do%>
                    <div class="front_mul_edit">
                      <%= image_tag "#{sample.image}", style: "height: 176px; width: 120px;" %>
                      <span class="fa-stack fa_search_op fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                      </span>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              No Front Samples
            <% end %>
          </div>
          <div class="pagin-samples">
            <%= paginate @samples, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination" %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <h3 class="text-left">Back Samples</h3>
          <div class="samples">
            <% if @back_samples.present? %>
              <% @back_samples.each do |sample| %>
                <div class="sample-item">
                  <%= link_to asset_path("#{sample.image.url}"), data:{toggle: "lightbox", gallery: "multimages"} do%>
                    <div class="front_mul_edit">
                      <%= image_tag "#{sample.image}", style: "height: 176px; width: 120px;" %>
                      <span class="fa-stack fa_search_op fa-2x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                      </span>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              No Back Samples
            <% end %>
          </div>
          <div class="pagin-samples">
            <%= paginate @back_samples, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination" %>
          </div>
        </div>

      </div>

    </div>
  </div>

</main>

